@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #dc323f;
  --color-secondary: #222222;
  --color-accent: #292929;
}
